
.containerLogin {
    display: flex;
    position: relative;
    justify-content: center;
    background-blend-mode: multiply;
    background-image: url("../../assets/imgs/fundoLoginImg.png");
    background-position: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.70);
}

.formulario {
    width: 100%;
    margin-top: 1em;
    position: relative;
}

.tituloLogin {
    margin-top: 2em;
    font-size: 2em;
    margin-bottom: .45em;
    text-align: center;
}

.labelSenhaUsuario {
    margin-bottom: .45em;
    font-size: 1.75em;
    margin-left: 5%;
}

.inputs {
    text-align: center;
    margin-left: 5%;
    width: 80%;
    border-radius: .90em;
    padding: .45em;
    margin-bottom: .25em;

}

.inputs::placeholder {
    font-size: 1.2em;
}
.btnDiv{
    display: flex;
    justify-content: center;
}
.btn{
    font-family: 'REM', sans-serif;
    font-weight: 700;
    width: 50%;
    border: none;
    border-radius: .65em;
    padding: 1em;
    margin-top: 2em;
    font-size: 1em;
    align-items: center;
    text-align: center;
    background-color: rgb(242, 252, 165);
}
.displayNone{
    display: none;
}
