.item {
    display: grid;
    grid-template-columns: 28% 51% 20%;
    border-bottom: 1px dotted white;
    padding: .40em 0;
}

.item h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin: .48em 0 .34em 0;
}

.preco {
    background-color: yellow;
    padding: .22em;
    display: inline-block;
    color: #000;
    font-weight: 700;
    border-radius: .45em;
    margin: .22em 0;
}

.item img {
    height: 120px;
    width: auto;
}

.container {
    display: grid;
    grid-template-rows: 80% 20%;
}


.ingredientes .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: yellow;
    justify-content: center;
    gap: .18em;
}

.divIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0602027f;
    border-radius: .45em;
}

.divIcons button {
    font-size: 2.25em;
    color: inherit;
    background: none;
    border: none;
}