
.section{
    padding-top: 3em;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.095);
    background-image: url("../../assets/imgs/fundoLoginImg.png");
    height: 100vh;
}
.item{
    display: flex;
    align-items: center;
}
.img{
    height: 150px;
}