@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
.App {
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.App h1 {
    color: white;
    font-weight: 700;
    padding: .45em 0;
    font-size: 3em;
    text-align: center;
    background-color: rgb(127, 207, 84);
    margin-bottom: 1em;
}

.botaoSair {
    position: absolute  ;
    right: 10px;
    top: 10px;
    font-size: 2em;
    border: none;
    padding: .45em;
    border-radius: 15%;
}
.botaoEntrar{
    border: none;
    font-size: 2em;
    padding: 1em;
    text-align: center;
    align-items: center;
}
.botaoEntrar button{
    border: none;
    border-radius: 1em;
    font-size: 2em;
    padding: 1em;
}