.section {
    position: relative;
    background-blend-mode: multiply;
    background-image: url("/src/assets/imgs/fundoLoginImg.png");
    background-color: rgba(0, 0, 0, 0.76);
    padding-top: 1.75em;
}

.div {
    margin-top: 2em;
}
.img{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(50% 50%);
    animation: sumir 2s forwards;
    background-color: black;
    z-index: 9999;  
}
.img img{
    position: fixed;
    top: 25%;
    left: 30%;
    animation: img 2s forwards;
}

.p2 {
    position: fixed;
    top: 10%;
    left: 20%;
    transform: translate(50% 50%);
    padding: 1em;
    background-color: chartreuse;
    border-radius: .45em;
    animation: sumir 2s linear forwards;
}
@keyframes img {
    100%{
       top: 100%;
    }
}
@keyframes sumir {
    0% {

        opacity: 1;
    }

    50% {
        opacity: 0.60;
    }

    100% {
      
        top: 100%;
        opacity: 0;
        display: none;
    }
}

.displayNone {
    display: none;
}

.iconcarrinho {
    text-decoration: none;
    color: white;
    position: fixed;
    font-size: 2.2em;
    top: 1%;
    right: 3%;
    z-index: 9999;
    background-color: black;
    border-radius: .45em;
}
